asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.3
django-dotenv==1.4.2
django-taggit==4.0.0
importlib-metadata==6.8.0
Markdown==3.4.3
psycopg2-binary==2.9.6
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
zipp==3.16.2
